body {
  background: linear-gradient(75deg, #3E5151, #DECBA4);
}
header{
  background-color:white;
  border-color: black;
}
ul{ /*labeled list*/
  list-style: none;
  margin: 0;
  padding-left: 70;
  margin-top: 25px;
  color: black;
  height: 50px;
  font-size: 30px;
  opacity: 0.9;
  filter: alpha(Opacity=90);
  background-size: cover;
  background-attachment: fixed;
}
li{ /*element of list*/
  float: left;
}
a{ /*for links*/
  text-decoration: none;
  color: black;
  padding:0px 15px;
  line-height:50px;
  display: block;
  border-right: 1px;
  font-family: sans-serif;
  font-variant: small-caps;
  /*opacity: 0.7;
  filter: alpha(Opacity=70);*/
}
h1{
  margin-top: 70px;
  color: black;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 50px;
  text-align: center;
}
h2{
  color: black;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
}
h3{
  color: black;
  font-family:sans-serif;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
}
h4{
  color: black;
  font-family:sans-serif;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
}
h5{
  color: black;
  font-family:sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  text-align: center;
}
.lefttop{
  float: left;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.bottom figure{
  /*float: center;*/
  /*position: absolute;*/
  /*bottom: 30px;*/
  width: 17%;
  margin: /*0% 25% 1.54% 25%*/ 1.3%;
  display: inline-block;
}
.content{
  background: black;
  width: 85%;
  padding: 85px;
  margin: 55px auto;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  text-align: center;
  background: rgba(60,60,60,0.3);
}
.content p{
  color: white;
  opacity: none;
}
.achievement{
  background: black;
  width: 80%;
  padding: 40px;
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  background: rgba(60,60,60,0.3);
}
.achievement p{
  color: white;
  text-align: center;
}
.achievements{
  background: white;
  width: 80%;
  padding: 40px;
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  background: rgba(255,255,255,0.2);
}
.achievements p{
  color: black;
  text-align: center;
}
img{
  box-shadow: 0.4em 0.4em 5px rgba(60,60,60,0.5);
}
figcaption{
  text-align: center;
  font-family: sans-serif;
  font-variant: small-caps;
}
span{
  text-align: center;
  font-family:sans-serif;
  font-variant: small-caps;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  display: inline-table;
}
p {
  color: black;
  text-align:center;
  font-family: sans-serif;
  font-variant:small-caps;
}
